<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'header.html' %}
</head>
<body class="animsition">
    <div class="page-wrapper">
        <section class="statistic statistic2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title-4">위험 증상 노인</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="statistic statistic2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="statistic__item statistic__item--green">
                            <h2 class="number">0</h2>
                            <span class="desc">등록된 노인 수</span>
                            <div class="icon">
                                <i class="zmdi zmdi-account-o"></i>
                            </div>
                        </div>
                        <div class="statistic__item statistic__item--red">
                            <h2 class="number">0</h2>
                            <span class="desc">위험 노인 수</span>
                            <div class="icon">
                                <i class="zmdi zmdi-account-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <img class="card-img-top" src="images/bg-title-01.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title mb-3">노인 이름</h4>
                                <p class="card-text">현재 의심 상황 : 라즈베리파이에서 특정 센서 값 -> 센서 데이터 받아오면 '~~ 위험의심이 됨' 로 text 보냄</p>
                                <p class="card-text">집 주소 : </p>
                                <p class="card-text">전화번호 : </p>
                                <p class="card-text">특이사항 : </p>
                                <hr/>
                                <p class="card-text">보호자 성명 : </p>
                                <p class="card-text">보호자 전화번호 : </p>
                                <br/><br/>
                                <button type="button" class="btn btn-primary float-right">채팅 바로가기</button>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </section>
        <!-- PAGE CONTENT-->
        <section class="statistic statistic2">
            뭐 더 추가할까
        </section>
    </div>
</body>

</html>
<!-- end document-->
